.yellowBtn {
  background-color: #ffdb11 !important;
  border-radius: 0px !important;
  font-weight: bold !important;
  width: 150px !important;
  height: 40px !important;
  font-size: 12px !important;
}
.makeStyles-formControl-5 {
  margin: 0px !important;
}

.blackBorderBtn {
  border: 1px solid black !important;
  width: 150px !important;
  height: 40px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.blackBtn {
  width: 150px !important;
  height: 40px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}
.url {
  width: 398px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;

  .copyUrl {
    position: absolute;
    left: 13px;
  }
}

.MuiFilledInput-root {
  width: 150px;
  height: 49px;
  border-radius: 7px !important;
  background-color: #ffdb11 !important;
  font-weight: bold !important;
  .MuiInputLabel-filled {
    z-index: 1;
    transform: translate(28px, 17px) scale(1);
    pointer-events: none;
    font-size: 12px !important;
    font-weight: bold !important;
  }
}

@media (max-width: 900px) {
  .url {
    width: 150px !important;
    height: 40px !important;
    .copyUrl {
      display: none;
    }
  }

  .MuiButton-label {
    font-size: 11px !important;
  }
}
