#videoSection {
  padding: 4rem;
  .udpate {
    background-color: #f33c3c !important;
    color: white !important;
    width: 175px;
    height: 35px;
    font-size: 13px !important;
  }
  .videoOptions {
    border-bottom: 1px solid #d2d2d2;
    height: 60vh;
    display: flex;
    flex-direction: row;

    .twoBtn {
      display: flex;
    }
    .btn {
      padding-right: 2rem;
    }
    .opt:nth-child(3) {
      .download {
        display: none;
      }
    }
    .opt:nth-child(1) {
      .cancel,
      .embed {
        display: none;
      }
    }
    .opt:nth-child(2) {
      .cancel,
      .embed {
        display: none;
      }
    }
    #vidImg {
      width: 430px;
      height: 238px;
    }
    .img {
      padding-right: 1rem;
    }
    #description {
      width: 70%;
    }
  }
}

@media (max-width: 960px) {
  #videoSection {
    padding: 0rem;
    .videoOptions {
      flex-direction: column;

      .opt:nth-child(1) {
        display: none;
      }

      .opt:nth-child(2) {
        display: none;
      }

      #description {
        width: 100%;
      }
      .img {
        padding-right: 0;
      }
      #vidImg {
        height: 208.1201934814453px;
        width: 375px;
      }
    }
  }
}
