.sidebar {
  border: 1px solid white;
  width: 303px;
  height: 900px;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0rem;
  padding: 30px;
  font-size: 20px;

  .udpate {
    background-color: #f33c3c !important;
    color: white !important;
    width: 175px;
    height: 35px;
    font-size: 13px !important;
  }
  .mainUpdate {
    border-top: 1px solid #d2d2d2;
  }

  h3 {
    font-size: 18px;
  }

  h4,
  p {
    font-size: 14px;
  }
}

.menu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .linksofTarget {
    padding-left: 0;
    padding-top: 2rem;
    width: 270px;
    height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
    border-bottom: 1px solid #d2d2d2;
  }
  .linksofTarget:hover {
    cursor: pointer;
    height: 127px;
    background-color: #f4f4f4;
  }

  .active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 127px;
    width: 270px;
    background-color: #f4f4f4;
    border-left: 5px solid #ffdb11;
  }
}

@media (max-width: 960px) {
  .sidebar {
    height: auto;
    width: auto;

    padding: 0;

    .udpate,
    .mainUpdate {
      display: none;
    }
    .menu1 {
      flex-direction: row;

      img {
        width: 50px;
        height: 50px;
      }
      .linksofTarget {
        padding-top: 0;
        width: 70px;
      }
      .linksofTarget:nth-child(2) {
        width: 90px;
      }
      .linksofTarget:nth-child(4) {
        width: 50px;
      }
      .linksofTarget:nth-child(5) {
        width: 60px;
      }
      .matterport,
      .website,
      .floorPlan {
        width: 120px;
        height: 54px;
      }
    }
  }
}
