.faq {
  background-color: #ffff;
  padding: 5rem;
  width: 100%;
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .faqTitle {
    font-size: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainQuestions {
    padding-top: 4rem;
  }
  .MuiAccordion-rounded {
    border-left: 5px solid #ffdb11;
  }
}

@media (max-width: 1000px) {
  .MuiGrid-container {
    width: 100%;
    flex-direction: column !important;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .MuiAccordion-rounded {
    width: 345px;
    height: 60px;
  }
}

@media (max-width: 960px) {
  .faq {
    padding: 0;
    height: 80vh;

    .faqTitle {
      font-size: 15px;
    }
  }
}
