.section1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d2d2d2;

  .flex-child {
    flex: 1;
  }
}

.section1 {
  display: flex;
}

.first {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  #firstTitle {
    padding-bottom: 5rem;
    text-transform: uppercase;
  }
}
.webTypes {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    font-size: 25px;
  }
  .branded,
  .unbranded,
  .customURL,
  .customize {
    padding: 0;
    padding-top: 0;
  }
}

.firstBtns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 2rem;

  #copy {
    margin-right: 2rem !important;
  }
}

@media (max-width: 960px) {
  .section1 {
    flex-direction: column;
    #firstTitle {
      padding-bottom: 0;
    }
    .devices {
      width: 205px;
      height: 139px;
    }

    .branded,
    .unbranded,
    .customURL,
    .customize {
      padding: 1rem;
      padding-top: 3rem;
    }
    .firstBtns {
      padding: 0;
    }

    #copy {
      margin-right: 0.5rem !important;
    }
  }
}
