.section1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d2d2d2;

  .flex-child {
    flex: 1;
  }
}

.section1 {
  display: flex;
}

.first {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  #firstTitle {
    padding-bottom: 5rem;
  }
}
.webTypes {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    font-size: 25px;
  }
}

.firstBtns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 2rem;

  #copy {
    margin-right: 2rem !important;
  }
}
