.nav {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  background-color: transparent;

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
  }

  .nav,
  .cart,
  .phone {
    color: white;
  }

  li {
    padding-left: 3rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}
.menuIcon {
  display: none;
}

@media (max-width: 1100px) {
  .nav {
    display: none;
  }
  .menuIcon {
    display: block;
    position: absolute;
    right: 2rem;
    color: white !important;
    height: 50px !important;
    width: 60px !important;

    .MuiSvgIcon-root {
      height: 50px !important;
      cursor: pointer;
    }
  }
}
