.allContent {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;

  .sticky {
    background-color: white;
  }
  .main {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .allContent {
    display: flex;
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
